.hero {
  margin-top: 70px;
  width: 100%;
  height: calc(100dvh - 70px);
  background: rgb(3, 0, 0);
  overflow: hidden;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100dvh - 70px);
  background: radial-gradient(circle at center, rgba(124, 124, 124, 0.5), rgba(0, 0, 0, 0.5) 70%);
  z-index: 2;
}

.inner {
  position: absolute;
  inset: 0;
  width: 1366px;
  margin: 0 auto;
  height: 80%;
  margin-top: 4%;
  z-index: 9;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.cover {
  width: 100%;
  height: calc(100dvh - 70px);
  object-fit: cover;
}

.lightSource {
  position: absolute;
  z-index: 15;
  width: 2000px; /* Make it larger for a more diffuse effect */
  height: 2000px;
  background: radial-gradient(
    circle,
    rgba(30, 30, 30, 0.6) 0%,
    rgba(15, 15, 15, 0.4) 30%,
    rgba(0, 0, 0, 0.05) 70%
  );
  pointer-events: none;
  mix-blend-mode: screen;
}

.buttons {
  width: 100%;
  align-self: flex-end;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
}

.buttons h2 {
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  color: whitesmoke;
  letter-spacing: 1.2px;
}
