footer {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background: rgb(5, 5, 5);
  box-shadow: inset -2px 0 2px 2px rgba(200, 200, 200, 0.4);
  color: whitesmoke;
}

.inner {
  width: 1366px;
  height: 100%;
}

.inner i {
  text-align: center;
}
