@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Slabo+27px&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Slabo 27px", serif;
}

li {
  list-style: none;
}

button {
  background: none;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  cursor: pointer;
}

.heading {
  font-family: "Chakra Petch", sans-serif;
}

.blackOps {
  font-family: "Black Ops One", sans-serif;
}

